./autostart/
./glow/
./ktimezonedrc
./QtProject.conf
./baloofilerc
./google-chrome/
./kwin*
./go/
./Kvantum/
./Electron/
./matugen/
./quickshell/
./bluedevilglobalrc
./rofi/
./bottom/
./gtk-*/
./cava/
./session/
./simple-update-notifier/
./strawberry/
./systemd/
./clash-verge/
./gtkrc*
./hypr.bak/
./Code/
./code-flags.conf
./fcitx*/
./nautilus/
./noctalia/
./nwg-look/
./chrome-flags.conf
./dconf/
./darklyrc
./dolphinrc
./eww/
./fontconfig/
./foot/
./fuzzel/
./ibus/
./illogical-impulse/
./kde-material-you-colors/
./kdedefaults/
./kactivitymanagerdrc
./kc*
./kdeglobals
./kglobalshortcutsrc
./kioslaverc
./konsolerc
./ktimezonedrc
./libaccounts-glib/
./mihomo-party/
./mimeapps.list
./mpv/
./plasma-workspace/
./plasma-localerc
./plasmarc
./procps/
./pulse/
./qalculate/
./thorium-flags.conf
./Trolltech.conf
./user-dirs.dirs.*
./thorium-flags.conf
./Trolltech.conf
./user-dirs.dirs.*
./xsettingsd/
./xdg-desktop-portal/
./wlogout/
./yay/
./yazi/
./zshrc.d/
